/*==== 1. GLOBAL STYLES ====*/
/* === 1.1 Body === */
 html {
    -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      overflow-x: hidden;  
}
 body {
     background-color: #ffffff;
     color: #707070;
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
     font-weight: normal;
     line-height: 24px;
     margin: 0;
     padding: 0;
     position:relative;
     overflow-x: hidden;
}
/* ==== 2. Typography ==== */
/* === 1.2 Hyperlink === */
 a {
     color: #303030;
    /*transition*/
     -webkit-transition:all 0.3s ease-in-out;
     -o-transition:all 0.3s ease-in-out;
     transition:all 0.3s ease-in-out;
     text-decoration:none;
     font-family: 'Poppins', sans-serif;
}
 a, a > * {
     cursor: pointer;
     outline: medium none;
     text-decoration: none;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color: inherit;
}
:focus {
  outline: none;
}
/*input and button type focus outline disable*/
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ddd;
}
 h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
     color: inherit ;
}
/* === 2.1 Headings === */
 h1, h2, h3, h4, h5, h6 {
     color: #3C368C;
     margin: 0 0 15px;
     padding: 0;
     -webkit-transition: 0.3s ;
     -o-transition: 0.3s ;
     transition: 0.3s ;
     font-family: 'Poppins', sans-serif;
}
 h1 {
     font-size: 36px;
     line-height: 42px;
     font-weight: 700;
}
 h2 {
     font-size: 30px;
     line-height: 35px;
     font-weight: 700;
}
 h3 {
     font-size: 28px;
     line-height: 32px;
}
 h4 {
     font-size: 24px;
     line-height: 38px;
}
 h5 {
     font-size: 20px;
     line-height: 30px;
}
 h6 {
     font-size: 18px;
}
/* === PARAGRAPH === */
 p {
     margin: 0 0 10px;
}
 b, strong {
     font-weight: 600;
}
/* === Basic Margins Paddings ===*/
/*=== Padding Top ===*/
.pt-65{
     padding-top: 65px;
}
.pt-120 {
     padding-top: 120px;
}
.pt-110{
     padding-top: 110px;
}
.pt-240{
     padding-top: 240px;
}
/*Padding Bottom*/
.pb-50{
     padding-bottom: 50px;
}
.pb-80{
     padding-bottom: 80px;
}
.pb-87{
     padding-bottom: 87px;
}
.pb-140{
     padding-bottom: 140px;
}
.pb-120{
     padding-bottom: 120px;
}
/* Miscellaneous Paddings */
.pt-18pb-5 {
     padding: 18px 0 5px;
}
.pt-110pb-68 {
     padding: 110px 0 68px;
}
.pt-110pb-80 {
     padding: 110px 0 80px;
}
.pt-110pb-90 {
     padding: 110px 0 90px;
}
.pt-115pb-100 {
     padding: 115px 0 110px;
}
.pt-115pb-110 {
     padding: 115px 0 100px;
}
.pt-118pb-95 {
     padding: 118px 0 95px;
}
.pt-115pb-120 {
     padding: 115px 0 120px;
}
.pt-105pb-120 {
     padding: 105px 0 120px;
}
.pt-118pb-130 {
     padding: 118px 0 130px;
}
.pt-110pb-75 {
     padding: 110px 0 75px;
}
.pt-110pb-105 {
     padding: 110px 0 105px;
}
.pt-120pb-115 {
     padding: 120px 0 115px;
}
.pt-120pb-90 {
     padding: 120px 0 90px;
}
.pt-120pb-80 {
     padding: 120px 0 80px;
}
.pt-120pb-75 {
     padding: 120px 0 75px;
}
.pt-120pb-310 {
     padding: 120px 0 310px;
}
/*Margin Bottom*/
.mb-30 {
     margin-bottom: 30px;
}
.mb-60 {
     margin-bottom: 60px;
}
.mb-120 {
     margin-bottom: 120px;
}
.mb-80{
     margin-bottom: 80px;
}

/*Margin top*/
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-25{
    margin-top: 25px;
}
.mt-30{
    margin-top: 30px;
}
.mt-105 {
     margin-top: 105px;
}
.mt-115{
     margin-top: 115px;
}
.mb-120 {
     margin-bottom: 120px;
}
.ml-70 {
    margin-left: 70px;
}
/* === 1.5 OTHER FIXES === */
 *, *:before, *:after{
     -webkit-box-sizing:border-box;
     box-sizing:border-box;
}
 .aligncenter {
     display: block;
     margin: 0 auto 15px 
}
 img {
     max-width: 100%;
     height: auto;
}
/* no-gutters Class Rules */
 .row.no-gutters {
     margin-right: 0;
     margin-left: 0;
}
 .row.no-gutters [class^="col-"], .row.no-gutters [class*=" col-"] {
     padding-right: 0;
     padding-left: 0;
}
.hero-area.style-1:before, .feature-area:before, .notification-img, .hero-drone, .process-drone img,
.fact-img img, .feature-vr img {
     animation-name: float-bob;
     animation-duration: 2s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
     -webkit-animation-name: float-bob;
     -webkit-animation-duration: 2s;
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-timing-function: linear;
     -moz-animation-name: float-bob;
     -moz-animation-duration: 2s;
     -moz-animation-iteration-count: infinite;
     -moz-animation-timing-function: linear;
     -ms-animation-name: float-bob;
     -ms-animation-duration: 2s;
     -ms-animation-iteration-count: infinite;
     -ms-animation-timing-function: linear;
     -o-animation-name: float-bob;
     -o-animation-duration: 2s;
     -o-animation-iteration-count: infinite;
     -o-animation-timing-function: linear;
}
/* Bob */
 @-webkit-keyframes float-bob {
     0% {
         -webkit-transform: translateY(-20px);
         transform: translateY(-20px);
    }
     50% {
         -webkit-transform: translateY(-10px);
         transform: translateY(-10px);
    }
     100% {
         -webkit-transform: translateY(-20px);
         transform: translateY(-20px);
    }
}
 @keyframes float-bob {
     0% {
         -webkit-transform: translateY(-20px);
         transform: translateY(-20px);
    }
     50% {
         -webkit-transform: translateY(-10px);
         transform: translateY(-10px);
    }
     100% {
         -webkit-transform: translateY(-20px);
         transform: translateY(-20px);
    }
}

/*Preloader*/
 .preloader-wrap {
     width: 100%;
     height: 100%;
     z-index: 9999;
     background: ##3C368C;
     background: -webkit-linear-gradient(to left, #00c6ff, #0072ff);
     background: linear-gradient(to left, #00c6ff, #0072ff);
     position: absolute;
}
 .cube-folding {
     width: 50px;
     height: 50px;
     display: inline-block;
     -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     -webkit-transform: rotate(45deg);
     transform: rotate(45deg);
     font-size: 0;
}
 .cube-folding span {
     position: relative;
     width: 25px;
     height: 25px;
     -moz-transform: scale(1.1);
     -ms-transform: scale(1.1);
     -webkit-transform: scale(1.1);
     transform: scale(1.1);
     display: inline-block;
}
 .cube-folding span::before {
     content: '';
     background-color: #3C368C;
     position: absolute;
     left: 0;
     top: 0;
     display: block;
     width: 25px;
     height: 25px;
     -moz-transform-origin: 100% 100%;
     -ms-transform-origin: 100% 100%;
     -webkit-transform-origin: 100% 100%;
     transform-origin: 100% 100%;
     -moz-animation: folding 2.5s infinite linear both;
     -webkit-animation: folding 2.5s infinite linear both;
     animation: folding 2.5s infinite linear both;
}
 .cube-folding .leaf2 {
     -moz-transform: rotateZ(90deg) scale(1.1);
     -ms-transform: rotateZ(90deg) scale(1.1);
     -webkit-transform: rotateZ(90deg) scale(1.1);
     transform: rotateZ(90deg) scale(1.1);
}
 .cube-folding .leaf2::before {
     -moz-animation-delay: 0.3s;
     -webkit-animation-delay: 0.3s;
     animation-delay: 0.3s;
     background-color: #FEAC01;
}
 .cube-folding .leaf3 {
     -moz-transform: rotateZ(270deg) scale(1.1);
     -ms-transform: rotateZ(270deg) scale(1.1);
     -webkit-transform: rotateZ(270deg) scale(1.1);
     transform: rotateZ(270deg) scale(1.1);
}
 .cube-folding .leaf3::before {
     -moz-animation-delay: 0.9s;
     -webkit-animation-delay: 0.9s;
     animation-delay: 0.9s;
     background-color: #FEAC01;
}
 .cube-folding .leaf4 {
     -moz-transform: rotateZ(180deg) scale(1.1);
     -ms-transform: rotateZ(180deg) scale(1.1);
     -webkit-transform: rotateZ(180deg) scale(1.1);
     transform: rotateZ(180deg) scale(1.1);
}
 .cube-folding .leaf4::before {
     -moz-animation-delay: 0.6s;
     -webkit-animation-delay: 0.6s;
     animation-delay: 0.6s;
     background-color: #3C368C;
}
 @-moz-keyframes folding {
     0%, 10% {
         -moz-transform: perspective(140px) rotateX(-180deg);
         transform: perspective(140px) rotateX(-180deg);
         opacity: 0;
    }
     25%, 75% {
         -moz-transform: perspective(140px) rotateX(0deg);
         transform: perspective(140px) rotateX(0deg);
         opacity: 1;
    }
     90%, 100% {
         -moz-transform: perspective(140px) rotateY(180deg);
         transform: perspective(140px) rotateY(180deg);
         opacity: 0;
    }
}
 @-webkit-keyframes folding {
     0%, 10% {
         -webkit-transform: perspective(140px) rotateX(-180deg);
         transform: perspective(140px) rotateX(-180deg);
         opacity: 0;
    }
     25%, 75% {
         -webkit-transform: perspective(140px) rotateX(0deg);
         transform: perspective(140px) rotateX(0deg);
         opacity: 1;
    }
     90%, 100% {
         -webkit-transform: perspective(140px) rotateY(180deg);
         transform: perspective(140px) rotateY(180deg);
         opacity: 0;
    }
}
 @keyframes folding {
     0%, 10% {
         -moz-transform: perspective(140px) rotateX(-180deg);
         -ms-transform: perspective(140px) rotateX(-180deg);
         -webkit-transform: perspective(140px) rotateX(-180deg);
         transform: perspective(140px) rotateX(-180deg);
         opacity: 0;
    }
     25%, 75% {
         -moz-transform: perspective(140px) rotateX(0deg);
         -ms-transform: perspective(140px) rotateX(0deg);
         -webkit-transform: perspective(140px) rotateX(0deg);
         transform: perspective(140px) rotateX(0deg);
         opacity: 1;
    }
     90%, 100% {
         -moz-transform: perspective(140px) rotateY(180deg);
         -ms-transform: perspective(140px) rotateY(180deg);
         -webkit-transform: perspective(140px) rotateY(180deg);
         transform: perspective(140px) rotateY(180deg);
         opacity: 0;
    }
}
 .cube-wrapper {
     position: fixed;
     left: 50%;
     top: 50%;
     margin-top: -50px;
     margin-left: -50px;
     width: 100px;
     height: 100px;
     text-align: center;
}
 .cube-wrapper:after {
     content: '';
     position: absolute;
     left: 0;
     right: 0;
     bottom: -20px;
     margin: auto;
     width: 90px;
     height: 6px;
     background-color: rgba(0, 0, 0, 0.1);
     -webkit-filter: blur(2px);
     filter: blur(2px);
     -moz-border-radius: 100%;
     -webkit-border-radius: 100%;
     border-radius: 100%;
     z-index: 1;
     -moz-animation: shadow 0.5s ease infinite alternate;
     -webkit-animation: shadow 0.5s ease infinite alternate;
     animation: shadow 0.5s ease infinite alternate;
}
 .cube-wrapper .loading {
     font-size: 14px;
     letter-spacing: 1px;
     display: block;
     color: #ffffff;
     position: relative;
     top: 25px;
     z-index: 2;
     -moz-animation: text 0.5s ease infinite alternate;
     -webkit-animation: text 0.5s ease infinite alternate;
     animation: text 0.5s ease infinite alternate;
}
 @-moz-keyframes text {
     100% {
         top: 35px;
    }
}
 @-webkit-keyframes text {
     100% {
         top: 35px;
    }
}
 @keyframes text {
     100% {
         top: 35px;
    }
}
 @-moz-keyframes shadow {
     100% {
         bottom: -18px;
         width: 100px;
    }
}
 @-webkit-keyframes shadow {
     100% {
         bottom: -18px;
         width: 100px;
    }
}
 @keyframes shadow {
     100% {
         bottom: -18px;
         width: 100px;
    }
}
/*=== Default slick dots ===*/
/*Default slick dots*/
ul.slick-dots {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
}
ul.slick-dots li {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 15px;
}
ul.slick-dots li button {
    text-indent: -9999px;
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 50%;
    background-color: rgba(254, 172, 1, 0.3);
}
ul.slick-dots li.slick-active button {
    background-color: #FEAC01;
    color: #FEAC01;
}
ul.slick-dots li.slick-active button:focus {
    outline: none;
}

/*=== Arrow ===*/
.slick-arrow {
    position: absolute;
    top: 110%;
    left: 50%;
    width: 46px;
    height: 46px;
    background: #fff;
    border: 1px solid #D3CBE2;
    border-radius: 50%;
    line-height: 54px;
    cursor: pointer;
    z-index: 9;
}
a.slick-prev.slick-arrow {
    margin-left: -60px;
}
.slick-arrow i {
    text-align: center;
    width: 100%;
    display: inline-block;
    position: relative;
    top: -2px;
    font-size: 22px;
}
.slick-arrow:hover {
    background-color: #FEAC01;
    border: 1px solid transparent;
    color: #ffffff;
}