/*Start video style*/
footer.footer-area {
    position: relative;
    background-color: #593087;
    &:before {
       @include bg_shap
    }
}
.footer-logo {
    margin-bottom: 52px;
}
.widget.footer-menu {
    margin-bottom: 50px;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display: inline-block;
            position: relative;
            a {
                color: #ffffff;
                margin-right: 40px;
                font-size: 14px;
                text-transform: uppercase;
                position: relative;
                margin-bottom:10px;
                display:inline-block;
                &:hover {
                    color: #FEAC01;
                    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
                }
                &:before {
                    position: absolute;
                    top: 1px;
                    right: -20px;
                    width: 1px;
                    height: 20px;
                    background-color: #ffffff;
                    content: "";
                    opacity: 0.4;
                }
            }
            &:last-child {
                a {
                    &:before {
                        opacity: 0;
                    }
                }
            }
        }
    }
}
.footer-social {
    margin-bottom: 70px;
    text-align: center;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display: inline-block;
            a {
                background-color: #6F62B5;
                color: #ffffff;
                width: 36px;
                height: 36px;
                display: inline-block;
                line-height: 36px;
                border-radius: 50%;
                margin-right: 15px;
                &:hover {
                    background-color: #FEAC01;
                }
            }
        }
    }
}
/*Start video style 2*/
footer.footer-area.style-2 {
    background-size: cover;
    background-position: center top;
    background-color: transparent;
    &:before{
        content:none;
    }
}
.footer-top-wrap {
    background-color: #443E9F;
    width: 100%;
    float: left;
    margin-bottom: 50px;
}
footer.footer-area.style-2 {
    .footer-logo {
        margin-bottom: 0;
        float: left;
        padding: 10px 0 13px 30px;
    }
    .widget.footer-menu {
        margin-bottom: 0;
        float: right;
        margin-top: 31px;
    }
}
/*Start video style 3*/
footer.footer-area.style-3 {
    background-color: transparent;
    background-size: cover;
    background-position: top center;
}
/*Start copyright style*/
.copyright {
    text-align: center;
    border-top: 1px solid #ffffff;
    p {
        color: #ffffff;
    }
}
