 /*Start hero css*/
.hero-area.style-1 {
    @include hero_bg;
    &:before{
    @include bg_watch;
    }
}
.hero-content-wrap {
    top: 50%;
    position: absolute;
    z-index: 3;
    transform: translateY(-50%);
    width: 100%;
}
.hero-content {
    
    h1{
    font-size: 58px;
    color: #ffffff;
    font-weight: 700;
    line-height: 68px;
    margin-bottom: 30px;
    }
    p{
    color:#ECECEC;
    font-size:18px;
    line-height:28px;
    margin-bottom: 30px;
    }
}
.hero-discount {
    position: relative;
    display: inline-block;
    padding: 63px 31px;
    z-index: 2;
    top: -95px;
    text-align: center;
    border-radius: 50%;
    &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(#282355 0%, #593087 100%);
    border-radius: 50%;
    z-index: -1;
    transform: rotate(
150deg
);
    }
    h1{
    font-size: 100px;
    color: #ffffff;
    line-height: 68px;
    margin-left: 17px;
    margin-top: 20px;
        sup{
        font-size: 60px;
        top: -30px;
        left: -16px;
        }
        span{
        font-size: 35px;
        color: #FEAC01;
        right: 35px;
        position: absolute;
        bottom: 95px;
        }
    }
    p{
        color: #FEAC01;
        text-transform: uppercase;
        line-height: 28px;
        letter-spacing: 2px;
        }
}
.hero-content, .hero-content-wrap-slide .single-hero-content {
    a.starting {
        color: #ffffff;
        display: inline-block;
        font-size: 20px;
        font-weight: 600;
        margin-left: 20px;
        position: relative;
        top: -22px;
    }
}
/*Start hero css style 2*/
.hero-area.style-2 {
    @include hero_bg;
    height:140vh;
}
.hero-content-2 {
    margin-top: 170px;
    margin-bottom: 55px;
}
.hero-content-2 h2 {
    font-size: 58px;
    line-height: 68px;
    color: #ffffff;
}
/*Start hero css style 3*/
.hero-area.style-3 {
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    position: relative;
    &:before {
        position: absolute;
        content: "";
        bottom: 4px;
        right: 0;
        background-image: url(../img/hero-bg-3.png);
        width: 100%;
        height: 100%;
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.hero-content-wrap-slide {
    top: 100px;
    .single-hero-content {
        h1 {
            font-size: 51px;
            line-height: 67px;
            color: #ffffff;
        }
        p {
            font-size: 18px;
            line-height: 28px;
            color: #ECECEC;
            margin-bottom: 30px;
        }
    }
}
/*Start breadcumb css style 3*/
.breadcumb-area {
    background-color: #593087;
    position: relative;
    padding: 170px 0 140px;
    &:before {
       @include bg_shap
    } 
}
.banner-content {
    h2 {
        font-size: 58px;
        line-height: 87px;
        text-transform: uppercase;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display: inline-block;
            text-transform: uppercase;
            a {
                margin-right: 5px;
                &:hover {
                    color: #FEAC01 !important;
                }
            }
            i {
                position: relative;
                top: 1px;
                padding: 0 5px;
            }
        }
    }
}
.style-3 {
    .hero-content-wrap-slide {
        .single-hero-content {
        margin-top: 22px;
            a.starting {
                top: -15px;
            }
        }
    }
}