/*techinical product css*/
.techinical-area {
    position: relative;
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-image: url(../img/technical.svg);
        background-size: cover;
        background-position: center;
    }
}
.single-techinical {
    border: 1px solid #C065DE;
    margin-bottom: 50px;
    padding: 50px 15px 40px;
    img {
        margin-bottom: 25px;
    }
    h4 {
        color: #fff;
        line-height: 30px;
    }
}

