/*Start testimonial style*/
.testimonial-wrap {
	.slick-slider {
		margin: 0 -15px;
	}
	.slick-slide {
		padding: 10px;
		margin-right: 15px;
		margin-left: 15px;
	}
}
.single-testimonial {
    margin-bottom: 50px;
    border: 1px solid #3C368C;
    padding: 30px 15px 25px;
    margin-top: 80px;
    position: relative;
    box-sizing: border-box;
     transition: all 0.3s ease;
    &:hover{
    border: 1px solid transparent;
    }
    &:before {
        @include price_before_after;
        border-bottom: transparent !important;
        border: 2px solid transparent;
        top: 0;
        z-index: -1;
    }
    &:after {
        @include price_before_after;
        bottom: 0;
        border-top: transparent !important;
        border: 2px solid transparent;
    }
    &:hover {
        &::before {
            @include price_before_after_hover;
            transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
            height: 50%;
        }
        &::after {
             @include price_before_after_hover;
            transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
            height: 50%;
        }
    }
    .testi-img {
        display: inline-block;
        margin-top: -65px;
        border: 5px solid #3C368C;
        border-radius: 50%;
    }
    .testi-content {
        padding: 0 15px;
        p {
            margin-bottom: 16px;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                display: inline-block;
                color: #FEAC01;
            }
        }
        >i {
            font-size: 30px;
            color: #3C368C;
            line-height: 48px;
            margin: 3px 0 1px;
            display: block;
        }
        h5 {
            color: blue;
            font-weight: 500;
            margin: 5px 0 6px;
        }
        h6 {
            font-size: 13px;
            color: #707070;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}
/*Start testimonial style 2*/
.testimonial-area.style-2 {
    background-size: cover;
    background-position: center;
}