/*Common style*/
@mixin all_white{
    *{
    color:#ffffff !important;
    }
}
@mixin section_title_h2 {
    font-size:38px;
    line-height:48px;
    color:#3C368C;
}
@mixin hero_bg{
    background-position: center;
    background-size: cover;
    height: 125vh;
    position:relative;
}
@mixin bg_watch {
    content: "";
    background-image: url(../img/watch.png);
    position: absolute;
    right: -0;
    bottom: -130px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right;
    max-width: 660px;
    background-size: contain;
}
@mixin bg_features {
    content: "";
    position: absolute;
    right: 0;
    top: 30px;
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
@mixin bg_shap {
     position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url(../img/footer-shape.png);
    opacity: .05;
    background-size: cover;
    background-position: center;
}

.section-title{
    padding-bottom:30px;
    h2{
        @include section_title_h2;
        p{
        font-size:16px;
        color:#707070;
        }
    }
}
.section-title.width-80 h2 {
    width: 80%;
}
.section-title.white {
    h2 {
        color: #ffffff;
    }
    p {
        color: #ffffff;
    }
}
.white {
    @include all_white;
}
@mixin price_before_after{
        position: absolute;
        content: "";
        left: 0;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        box-sizing: inherit;
}
@mixin price_before_after_hover {
        width: 100%;
        height: 20%;
        border-color: #FEAC01;
}
/*Button style*/
/* //// Default effect: Slide from Top  //// */
.buttonfx {
    background: transparent;
    padding: 10px 32px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all .5s;
    font-size: 14px;
    z-index: 4;
    i {
        margin-right: 4px;
    }
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        background: #FEAC01;
        z-index: -1;
        transform: translate3D(0,-100%,0);
        transition: all .5s;
        background: #C065DE;
        z-index: -2;
        transform: translate3D(0,0,0);
    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        background: #FEAC01;
        z-index: -1;
        transform: translate3D(0,-100%,0);
        transition: all .5s;
    }
    &:hover {
        color: #ffffff;
        &:after {
            transform: translate3D(0,0,0);
            transition: all .5s;
        }
    }
}
.buttonfx.angleindouble.color-1 {
    i {
        color: #FEAC01;
    }
    &:hover {
        i {
            color: #ffffff;
        }
    }
}
.buttonfx.angleindouble.color-2 {
    i {
        color: #000000;
    }
    &:hover {
        i {
            color: #ffffff;
        }
    }
}
.angleindouble.color-1 {
    background-color: #C065DE;
    color: #ffffff;
    z-index:1;
}
button.buttonfx.angleindouble.color-1 {
    border: none;
}
.angleindouble.color-2 {
    background-color: #FEAC01;
    color: #000000;
    &:hover {
        color: #ffffff;
    }
}
.angleindouble {
    &:hover {
        background-color: transparent;
        &:before {
            left: 0;
            transform: rotate(0deg);
            transition: all .5s;
        }
        &:after {
            right: 0;
            transform: rotate(0deg);
            transition: all .5s;
        }
    }
    &:before {
        top: 0;
        left: 0;
        width: 150%;
        background: #FEAC01;
        transform-origin: 0 bottom;
        transform: translateX(-100%) rotate(-30deg);
    }
    &:after {
        top: 0;
        left: auto;
        right: 0;
        width: 150%;
        transform-origin: right bottom;
        transform: translateX(100%) rotate(30deg);
    }
}
/*Scroll Up*/
 #scrollUp {
     background: #FEAC01;
     border-radius: 5%;
     bottom: 75px;
     color: #fff;
     font-size: 32px;
     height: 60px;
     line-height: 60px;
     right: 8px;
     text-align: center;
     width: 40px;
}
